<div>
    <h1>Grupos</h1><br>
    <label >Nome</label>
    <input ><br>
    <button type="button"> Salvar</button>
    <button type="button" >Limpar</button>
    <table>
        <thead>
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nome</th>
                <th scope="col">Acao</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="col">Codigo</td>
                <td scope="col">Nome</td>
                <td scope="col">
                    <button type="button" >Editar</button>
                    <button type="button" >Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <br>
</div>